.main {
    color: #8c8b8f;
}

.label {
    margin-right: 5px;
    font-weight: bold;
    color: #323642;
}

.select {
    display: inline-block;
    margin-left: 10px;
}

.select :global(.select__delete-icon) {
    display: none;
}
