.main {
    font-size: 0.75em;
    color: #8c8b8f;
}

.label {
    margin-right: 5px;
    color: #323642;
}

.select {
    display: inline-block;
    margin-left: 10px;
}

.select :global(.select__delete-icon) {
    display: none;
}
