.main {
    font-size: 1em;
    color: #8c8b8f;
}
.result {
    padding: 15px;
    background-color: white;
}

.result :global(.tabs__head) {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.result :global(.tabs__total) {
    margin-right: 20px;
    color: #323642;
    font-weight: bold;
}

.result :global(.tabs__total-number)
{
    margin-left: 5px;
    color: #8c8b8f;
}

.result :global(.tabs__label) {
    margin-right: 15px;
    color: #323642;
    font-weight: bold;
}

.result :global(.react-tabs__tab-list) {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.result :global(.react-tabs__tab) {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.result :global(.react-tabs__tab:hover) {
    background-color: #f7f7f7;
}

.result :global(.react-tabs__tab.react-tabs__tab--selected) {
    background-color: #2591db;
    color: white;
}

.result :global(.tabs__select-item) {
    margin: 16px 0 13px 0;
}

.result :global(.tabs__border) {
    margin: 0 15px;
    border-top: 1px solid #f4f5f2;
}

.result :global(.react-tabs__tab-panel) {
    margin-bottom: 15px;
}