.tag {
    display: inline-flex;
    padding: 3px 8px;
    background-color: white;
    align-items: center;
    border-radius: 3px;
}

.tagLabel {
    display: inline-block;
    padding-right: 6px;
    color: #60617a;
}

.tagRemove {
    display: inline-block;
    color: #2591db;
    cursor: pointer;
    border-radius: 3px;
}

.tagRemove:hover {
    background-color: #f7f7f7;
}

.tagRemove svg {
    float: left;
}