.frame {
    display: flex;
    align-items: center;
}

.label {
    padding-right: 5px;
    color: #8c8b8f;
}

.dropdownIcon {
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    color: #2591db;
}

.dropdownIcon:hover {
    background-color: #f7f7f7;
}

.dropdownIcon svg {
    float: left;
}

.dropdown {
    position: relative;
    width: 100%;
}

.optionLabel {
    float: left;
    padding: 2px 5px;
    border-radius: 1px;
    color: #2591db;
    background-color: #c1e3f5;
}