@import './common.scss';
@import './fonts.scss';
@import './custom.scss';

html {
  font-size: $base + px;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f8fb;
  min-height: 100vh;
}

:focus {
  outline: 0;
}

