.main {
    padding: 15px 0;
    :global {
        .tabs__head {
        }

        .me-filters-item {
            padding: 10px 15px 0;
        }

        .tabs__label {
            margin-right: 15px;
            color: #323642;
            font-weight: bold;
        }

        .react-tabs__tab-list {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        .react-tabs__tab {
            display: inline-block;
            padding: 3px 8px;
            margin-right: 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .react-tabs__tab:hover {
            background-color: #f7f7f7;
        }

        .react-tabs__tab.react-tabs__tab--selected {
            background-color: #2591db;
            color: white;
        }

        .tabs__select-item {
            margin: 16px 0 13px 0;
        }
    }
}