.main {
    display: flex;
    align-items: center;
}

.label,
.buttons{
    display: inline-block;
}

.label {
    margin-right: 5px;
}

.buttons {
    display: flex;
    align-items: center;
}

.deleteIcon, .dropdownIcon {
    padding: 3px;
    font-size: 1.4em;
    border-radius: 4px;
    cursor: pointer;
}

.deleteIcon:hover,
.dropdownIcon:hover {
    background-color: #f7f7f7;
}

.deleteIcon {
    font-size: 1em;
}

.deleteIcon svg {
    float: left;
    color: #dc3545;
}

.dropdownIcon svg {
    float: left;
    color: #2591db;
}
.dropdown {
    position: relative;
}

.dropdownInner {
    position: absolute;
    width: 100%;
    background-color: white;
}
