.main {
    :global {
        .me-item {
            display: flex;
            flex: 1 1 300px;
            margin: 0 1.25rem 2rem;
        }

        .me-content-section {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1.25rem;
        }
        
        .me-date {
            font-weight: lighter;
        }

        .me-description {
            font-weight: lighter;
        }
    }
}