.main {
    :global {
        .me-title-section {
            padding: 60px 0 50px 0;
        }

        .me-content-section {
            padding: 60px 0;
            background: white;
        }
        
        .me-date {
            font-weight: lighter;
        }

        .me-description {
            font-weight: lighter;
        }
    }
}